:root {
    --navy: #0c263e;
    --dark-navy: #071629;
    --orange: #e75a2f;
    --off-white: #f5f5f5;
}

body {
    color: var(--dark-navy);
    font-family: 'Noto Sans', sans-serif;
}

.inner-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Typography */
h1,
h2 {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 2.25rem;
}

h1 a {
    color: var(--off-white);
    text-decoration: none;
}

h2 {
    font-size: 3.125rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
    max-width: 70ch;/* ch:characters */
}

/* Header */
header {
    background-color: var(--navy);
    padding: 1rem 0;
}

.toggle-nav {
    background-color: var(--navy);
    border: none;
    color: var(--off-white);
    font-size: 0.8rem;
    text-transform: lowercase;
    /* display: flex;
    flex-direction: column; */
    
}

.toggle-nav svg {
    width: 2.1875rem;
    fill: var(--off-white);
    display: block; /* this is the same as doing display flex and flex direction column on the toggle-nav itself*/
}

header nav {
    /* flex: 1 0 100%;  this isnt needed antmore bc we made it position: abs*/
    /* after styling the heaer nav we use the following two lines to hide it*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
    position: absolute;
    background-color: var(--navy);
    left: 0;
    top: 88px;
    width: 100vw;
    padding: 0 1rem;
}

.show-nav {
    max-height: 27rem; /* 410px = 25.625ps but added more to see the margin on the utility-nav */
}

ul.menu {
    border-bottom: 1px solid var(--off-white);
    margin-bottom: 1rem;
}

ul.menu a {
    color: var(--off-white);
    text-decoration: none;
    display: block;
}

ul.menu a:hover,
ul.menu a:active {
    color: var(--orange);
    text-decoration: underline;  
}

/* can also do a.main-menu-link {} for the selector */
.main-menu-link {
    font-size: 1.3rem;
}

ul.menu svg {
    display: none;
}

ul.menu li {
    line-height: 2.1875rem;
    margin: 0.5rem 0;
}

ul.submenu {
    padding-left: 1.875rem;
}

ul.utility-nav {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

ul.utility-nav a {
    background-color: var(--orange);
    color: var(--off-white);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    /* allows the inline element to take block level properties such as padding*/
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

/* main-content */
section {
    padding: 3.125rem 0;
}

@media screen and (min-width: 800px) {
    .toggle-nav {
        display: none;
    }

    header nav {
        max-height: 100vh;
        position: static;
        width: unset; /* or width:auto, fit-content */
        display: flex;
        gap: 3.125rem;
        align-items: center; /* centers top to bottom but margin-btm elsewhere was initially ruining it  */
        overflow: visible;
    }

    ul.menu {
        display: flex;
        gap: 1.5rem;
        border-bottom: none;
        margin-bottom: 0;
    }

    ul.menu li {
        position: relative;
    }

    ul.menu svg {
        display: inline;
        fill: var(--off-white);
        width: 1.25rem;
    }

    /* changed the selector from a.main-menu-link because it needs more 
    weight to show rn ul.menu a has more weight and overwriting with the display block in it */
    ul.menu .main-menu-link {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    ul.submenu {
        position: absolute;
        top: 45px; /* height of parent(.menu li) +10px padding */
        left: 0;
        width: 100%; /* bc we made the parent relative and this one absolute it will be 100% the width of the parent rather than the whol viewport */
        background-color: var(--navy);
        white-space: nowrap;
        text-align: right;
        padding: 0 0.5rem;
        /* also max-height 0 works to hide the elements rather than the two below */
        visibility: hidden;
        opacity: 0; 
        transition: all 0.5s ease;
    }

    ul.menu li:hover ul.submenu {
        visibility: visible;
        opacity: 1;
    } 
    
    /* when we make it postion abs we need to make it avaible for keyboard accesibilty */
    ul.menu li:focus-within > ul,
    ul.menu li > ul.focus {
        visibility: visible;
        opacity: 1;
    }

    ul.utility-nav {
        margin-bottom: 0;
    }

    .gallery-flex {
        display: flex;
        align-items: flex-start;
    }

    img {
        width: 50%;
    }

    img:last-of-type {
        position: relative; /* we do this becasue we want the position it takes to stay the same but allows us to use top/bottom...*/
        top: 100px;
        left: -150px; /* or right:150px */
    }
}